#container {
    background-color: #53e4e9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid gray;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
}

img{
    width: 150px;
}